.btn-primary, .btn-secundary {
   display: inline-block;
   padding: 0 1.6rem;
   border-radius: 12.2rem;
   font-family: 'Poppins',sans-serif;
   font-weight: 600;
   font-size: 1.6rem;
}

.btn-primary {
   line-height: 4.8rem;
   background-color: $brand-yellow;
   color: #855B35;
   transition: background-color .3s;
  &:hover {
   background-color: #FFDC5C;
  }
}

.btn-secundary {
   line-height: 4.1rem;
   border: 1px solid #00A5F0;
   background-color: transparent;
   font-size: 1.6rem;
   line-height: 4.1rem;
   color: $brand-light-blue;
   transition: all .3s;
   &:hover {
      background-color: $brand-light-blue;
      color: #ffffff;
   }
   &.white{
      border: 1px solid white;
      color: #ffffff;
   }
   &:hover {
      background-color: white;
      color: $brand-green-light;
   }
}




